.tab {
  line-height: 0 !important;
  border: none !important;
}
.tab-active {
  border-radius: 50px !important;
  border: 2px solid #86371c !important;
  color: #86371c !important;
  background-color: #fbf9f8 !important;
}

@media (max-width: 768px) {
  .tab {
    height: 30px !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    padding: 14px 7px !important;
  }

  .tab-active {
    padding: 14px 7px !important;
  }
}

@media (min-width: 1024px) {
  .tab {
    height: 60px !important;
    font-weight: 600 !important;
    font-size: 20px !important;
  }

  .tab-active {
    padding: 0px 0px !important;
  }
}

.tabs-lifted > .tab.tab-active:not(.tab-disabled):not([disabled]):before {
  contain: none !important;
  width: 0px !important;
}
